body{
    background-color: blueviolet;
}

.title{
    font-size: 3em;
    text-align: center;
}

.main-content{
    background-color: #443266;
    width: 100%;
    outline: solid 2px black;
    display: flex;
    align-items: center;
}

.kanye-pic{
    width: 40%;
    height:auto;
}

.bubble {
    position: relative;
    font-family: sans-serif;
    font-size: 1em;
    line-height: 2em;
    width: 40%;
    background: #fff;
    border: 10px solid black;
    border-radius: 4em;
    padding: 2em;
    text-align: center;
    margin-left: 6%;
    color: #000;
}

.quote-control{
    margin-top: 3em;
    text-align: center;
}

.quote-button{
    width: 20%;
    border: 2px solid black;
    border-radius: 2em;
    padding: 1em;
}

.quote-button:hover{
    background-color: darkgray;
}